@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Fuente Alta (Para Títulos) */
@font-face {
  font-family: 'Alta';
  src: url('/Alta_caption.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 2. Fuente Montserrat Local (Para Textos Generales) */
@font-face {
  font-family: 'MontserratLocal';
  src: url('/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Al ser variable, soporta todos los grosores */
  font-style: normal;
  font-display: swap;
}

/* 3. Estilos globales */
body {
  /* Todo el texto por defecto usará Montserrat */
  font-family: 'MontserratLocal', sans-serif;
}